<div class="content">
    <form #formCategoria="ngForm">
        <h1>Consultar Categoria</h1>
        <mat-form-field class="campo">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="filtroCategoria.nome" type="text" name="nome">
        </mat-form-field>
        <mat-form-field class="campo">
            <mat-label>Descrição</mat-label>
            <textarea matInput [(ngModel)]="filtroCategoria.descricao" type="text" name="descricao"></textarea>
        </mat-form-field>
    
        <div class="buttons">
            <button class="mat-elevation-z8"(click)="pesquisar()" mat-stroked-button color="primary">Pesquisar</button>
            <button class="mat-elevation-z8" (click)="limpar(formCategoria)" mat-stroked-button color="warn">Limpar</button>
            <button class="mat-elevation-z8" (click)="incluirCategoria()" mat-stroked-button color="primary">Incluir</button>
            <button *ngIf="categorias.length > 0" (click)="exportar()" class="mat-elevation-z8" mat-stroked-button
                color="primary">Exportar</button>
            <button class="mat-elevation-z8" (click)="voltar()" mat-stroked-button color="warn">Voltar</button>
        </div>
    </form>

    <div class="mat-elevation-z8 content-table" *ngIf="categorias.length > 0">
        <table class="table" mat-table [dataSource]="categorias">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let row; let i = index">{{row.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef>Descrição</th>
                <td mat-cell *matCellDef="let row; let i = index">{{row.descricao}}</td>
            </ng-container>
            
            <ng-container matColumnDef="acoes">
                <th class="mat-header" mat-header-cell *matHeaderCellDef>Ações</th>
                <td mat-cell *matCellDef="let row; let i = index">
                    <a class="edit" routerLink="update/{{row.id}}">
                        <i class="material-icons">edit</i>
                    </a>
                    <a class="delete" routerLink="delete/{{row.id}}">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </ng-container>
        </table>

        <div class="container">
            <table class="table" #tabelaCategorias [hidden]="true">
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of categorias;index as i">
                        <td>
                            {{categoria.nome}}
                        </td>
                        <td>
                            {{categoria.descricao}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <div *ngIf="categorias.length === 0" class="app-empty-search-result" role="alert">
        <span>Nenhuma Categoria encontrada.</span>
    </div>
</div>