<div class="content">
    <form>
        <h1>Incluir Doação</h1>
        <mat-form-field class="form">
            <mat-select id="combo-categoria" placeholder="Categoria" [(ngModel)]="doacao.idCategoria" name="categoria"
                [formControl]="categoria" panelClass="positionClass" required>
                <mat-option></mat-option>
                <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{ categoria.nome }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="categoria.invalid">{{retornaMensagemDeErroQuantidade()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Descrição</mat-label>
            <textarea matInput [(ngModel)]="doacao.descricao" [formControl]="descricao" type="text" name="descricao"
                placeholder="Ex.: Doação de Latas de Leite Ninho" maxlength="400" required></textarea>
            <mat-error *ngIf="descricao.invalid">{{retornaMensagemDeErroDescricao()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Quantidade</mat-label>
            <input matInput [(ngModel)]="doacao.quantidade" [formControl]="quantidade" type="text" name="quantidade"
                placeholder="Quantidade" maxlength="5" mask="99999" required>
            <mat-error *ngIf="quantidade.invalid">{{retornaMensagemDeErroQuantidade()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Local de Retirada</mat-label>
            <textarea matInput [formControl]="localRetirada" [(ngModel)]="doacao.localRetirada" type="text" name="localRetirada"
                placeholder="Ex.: Avenida Pontes Vieira 125, Bairro São João do Tauape" maxlength="250"
                cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10">
            </textarea>
            <mat-error *ngIf="localRetirada.invalid">{{retornaMensagemDeErroLocalRetirada()}}</mat-error>
        </mat-form-field>
        <!--Falta acrescentar o Combo Categoria e carregar todas as categorias no mesmo-->

        <div class="buttons">
            <button
                [disabled]="retornaMensagemDeErroDescricao() || retornaMensagemDeErroQuantidade() || retornaMensagemDeErroCategoria() || retornaMensagemDeErroLocalRetirada()"
                (click)="cadastrarDoacao()" class="mat-elevation-z8" mat-stroked-button color="primary">Salvar</button>
            <button (click)="cancelar()" class="mat-elevation-z8" mat-stroked-button color="warn">Voltar</button>
        </div>
    </form>
</div>