.content{
    width: 90%;
    margin: 1.4rem auto auto auto;
}

form{
    // text-align: center;
    width: 100%;
    margin: 2rem auto 0 auto;
}

h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.form{
    width: 100%;
}

.buttons{
    width: 100%;
    text-align: start;
    margin-top: 10px;
}

button {
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

/**********/
h1{
    // text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.campo{
    width: 100%;
}

button {
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}


.content{
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.table{
  width: 100%;
}

.doacoes{
    color: rgb(37, 125, 240);
    margin-left: .6rem;
}

.edit{
    color: rgb(206, 173, 24);
}

.delete{
    color: rgb(228, 56, 56);
    margin-left: .5rem;
}

.mat-header{
  width: 5rem;
}

.mensagem {
    border: 3px solid #1b5992;
    font-family: 'Arial', 'Courier New', Courier, monospace;
    font-size: 16px;
    border-radius: 5px;
}

.card-orfanato-contemplado {
    max-width: 50%;
    margin-bottom: 20px;
}

.tabela-interessados{
    margin-top: 20px;
    margin-bottom: 20px;
}

span{
  font-weight: 500;
}