h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.campo{
    width: 50%;
}

button {
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}


.content{
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.wrapper {
    height: 500px !important;
}