<div class="container-login">
    <mat-card class="card-login" style="text-align: center;">
        <mat-card-header>
            <p class="boas-vindas">Sistema de Doações para Orfanatos</p>
        </mat-card-header>
        <mat-card-content>
            <div>

                <mat-form-field class="campo" *ngIf="cadastrando">
                    <mat-label>Nome Completo</mat-label>
                    <input matInput [(ngModel)]="usuario.nome" [formControl]="nomeCompletoFormControl" type="text"
                        name="nome" placeholder="Digite seu nome completo" maxlength="100" required>
                    <mat-error *ngIf="nomeCompletoFormControl.invalid">{{retornaMensagemErro(nomeCompletoFormControl,
                        'Nome Completo', 10)}}</mat-error>
                </mat-form-field>

                <mat-form-field class="campo" *ngIf="cadastrando">
                    <mat-label>Endereço</mat-label>
                    <input matInput [(ngModel)]="usuario.endereco" [formControl]="enderecoFormControl" type="text"
                        name="endereco" placeholder="Digite seu endereço" required>
                    <mat-error *ngIf="enderecoFormControl.invalid">{{retornaMensagemErro(enderecoFormControl,
                        'Endereço', 10)}}</mat-error>
                </mat-form-field>

                <mat-form-field class="campo" *ngIf="cadastrando">
                    <mat-label>Telefone Celular</mat-label>
                    <input matInput [(ngModel)]="usuario.telefoneCelular" [formControl]="telefoneCelularFormControl"
                        type="text" name="telefoneCelular" placeholder="Digite seu telefone celular" maxlength="13"
                        mask="(00)000000000" required>
                    <mat-error *ngIf="telefoneCelularFormControl.invalid">
                        {{retornaMensagemErro(telefoneCelularFormControl, 'Telefone Celular', 11)}}</mat-error>
                </mat-form-field>

                <mat-form-field class="campo" *ngIf="cadastrando">
                    <mat-label>Telefone Fixo</mat-label>
                    <input matInput [(ngModel)]="usuario.telefoneFixo" [formControl]="telefoneFixoFormControl"
                        type="text" name="telefoneFixo" maxlength="12" mask="(00)00000000"
                        placeholder="Digite seu telefone fixo" required>
                    <mat-error *ngIf="telefoneFixoFormControl.invalid">
                        {{retornaMensagemErro(telefoneFixoFormControl, 'Telefone Fixo', 10)}}</mat-error>
                </mat-form-field>

                <mat-form-field class="campo" *ngIf="cadastrando">
                    <mat-select id="perfil" placeholder="Perfil" [(ngModel)]="usuario.perfil"
                        [formControl]="perfilFormControl" name="perfil" panelClass="positionClass" required>
                        <mat-option></mat-option>
                        <mat-option [value]=2>Doador</mat-option>
                        <mat-option [value]=3>Responsável por Orfanato</mat-option>
                        <!--<mat-option *ngFor="let valor of valoresPerfis; index as i" [value]=valor>
                            {{rotuloPerfil(valor)}}
                        </mat-option>-->
                    </mat-select>
                    <mat-error *ngIf="perfilFormControl.invalid">{{retornaMensagemErro(perfilFormControl, 'Perfil',
                        10)}}</mat-error>
                </mat-form-field>

                <mat-form-field class="campo" *ngIf="cadastrando && usuario.perfil === 3">
                    <mat-select id="orfanato" placeholder="Orfanato" [(ngModel)]="usuario.idOrfanato"
                        [formControl]="orfanatoFormControl" name="orfanato" panelClass="positionClass" required>
                        <mat-option *ngFor="let orfanato of orfanatos; index as i" [value]=orfanato.id>
                            {{orfanato.nome}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="orfanatoFormControl.invalid">{{retornaMensagemErro(orfanatoFormControl,
                        'Orfanato',
                        10)}}</mat-error>
                </mat-form-field>

                <mat-form-field class="campo" *ngIf="cadastrando">
                    <mat-label>E-mail</mat-label>
                    <input matInput [(ngModel)]="usuario.email" [formControl]="emailFormControl" type="text"
                        name="email" placeholder="Digite seu e-mail" required>
                    <mat-error *ngIf="emailFormControl.invalid">{{retornaMensagemErro(emailFormControl, 'E-mail', 10)}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="campo">
                    <mat-label>Login</mat-label>
                    <input matInput [(ngModel)]="usuario.username" [formControl]="loginFormControl" type="text"
                        name="login" placeholder="Digite seu login" required>
                    <mat-error *ngIf="loginFormControl.invalid">{{retornaMensagemErro(loginFormControl, 'Login', 5)}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="campo">
                    <mat-label>Senha</mat-label>
                    <input matInput [(ngModel)]="usuario.senha" [formControl]="senhaFormControl" type="password"
                        name="senha" placeholder="Digite sua senha" required>
                    <mat-error *ngIf="senhaFormControl.invalid">{{retornaMensagemErro(senhaFormControl, 'Senha', 5)}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="campo" *ngIf="cadastrando">
                    <mat-label>Confirmar Senha</mat-label>
                    <input matInput [(ngModel)]="usuario.confirmacaoSenha" [formControl]="confirmacaoSenhaFormControl"
                        type="password" name="confirmacaoSenha" placeholder="Confirme sua senha" required>
                    <mat-error *ngIf="confirmacaoSenhaFormControl.invalid">
                        {{retornaMensagemErro(confirmacaoSenhaFormControl, 'Confirmação Senha', 5)}}</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions class="buttons">
            <button [disabled]="loginFormControl.invalid || senhaFormControl.invalid" (click)="onSubmit()"
                class="mat-elevation-z8" mat-stroked-button color="primary" *ngIf="!cadastrando">Entrar</button>
            <button
                [disabled]="nomeCompletoFormControl.invalid || enderecoFormControl.invalid || emailFormControl.invalid || loginFormControl.invalid || 
            telefoneCelularFormControl.invalid || telefoneFixoFormControl.invalid || perfilFormControl.invalid || senhaFormControl.invalid || confirmacaoSenhaFormControl.invalid"
                (click)="cadastrar()" class="mat-elevation-z8" mat-stroked-button color="primary"
                *ngIf="cadastrando">Confirmar</button>
            <button (click)="cancelaCadastro()" class="mat-elevation-z8" mat-stroked-button color="warn"
                *ngIf="cadastrando">Voltar</button>
            <button (click)="preparaCadastrar($event)" class="mat-elevation-z8" mat-stroked-button color="primary"
                *ngIf="!cadastrando">Cadastrar</button>
        </mat-card-actions>
    </mat-card>
</div>