<mat-card class="home mat-elevation-z4">
   <mat-card-title class="title">Bem-vindo (a)!</mat-card-title>
   <mat-card-subtitle class="subtitle">Sistema de Doações para Orfanatos</mat-card-subtitle>
   <mat-card-content>Seja Bem-Vindo (a) ao Sistema de Doações para Orfanatos de Fortaleza. 
      Esse sistema tem por objetivo ajudar os orfanatos de Fortaleza que tanto necessitam da ajuda 
      da população. Por aqui, uma pessoa física pode cadastrar itens para serem destinados a um dos 
      dos orfanatos cadastrados. Os responsáveis pelos orfanatos podem consultar tais doações e 
      demonstrar interesse pelos mesmos. Após a autorização de doação por um administrador, 
      o sistema atribuirá a doação a um dos orfanatos que demonstraram interesse pela doação, 
      seguindo a seguinte regra de prioridade: primeiramente, a doação é destinada ao orfanato 
      que menos foi beneficiado pelo sistema. Caso haja empates, a doação será destinada ao orfanato 
      que acolha o maior número de crianças. Por último, a doação será destinada ao orfanato 
      com o maior tempo de fundação.</mat-card-content>
</mat-card>
