<div class="content">
    <form>
        <h1>Excluir Orfanato</h1>
        <mat-form-field class="form">
            <mat-label>Nome</mat-label>
            <textarea matInput [(ngModel)]="orfanato.nome" type="text" name="nome"
                placeholder="Ex.: Casa de Acolhimento Casa de Jeremias" maxlength="250" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" disabled></textarea>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Endereço</mat-label>
            <textarea matInput [(ngModel)]="orfanato.endereco" type="text" name="endereco"
                placeholder="Ex.: Avenida Pontes Vieira 125, Bairro São João do Tauape" maxlength="250"
                cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"
                disabled></textarea>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Quantidade de Crianças</mat-label>
            <input matInput [(ngModel)]="orfanato.quantidadeCriancas" type="text"
                name="quantidadeCriancas" placeholder="Quantidade de Crianças" maxlength="5" mask="99999" disabled>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>História da Fundação</mat-label>
            <textarea matInput [(ngModel)]="orfanato.historia" type="text" name="historia"
                placeholder="Ex.: A Casa de Jeremias foi fundada em 10/01/2012..." maxlength="500" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15" disabled></textarea>
        </mat-form-field>

        <!--<mat-form-field class="form">
            <mat-label>Data da Fundação</mat-label>
            <input matInput [(ngModel)]="orfanato.dataFundacao" [formControl]="dataFundacao" type="text"
                name="dataFundacao" placeholder="Data da Fundação" maxlength="10" mask="00/00/0000" required>
            <mat-error *ngIf="dataFundacao.invalid">{{retornaMensagemDeErroDataFundacao()}}</mat-error>
        </mat-form-field>-->

        <!--<mat-form-field>
            <input #prazoFinalReembolso id="prazoFinalReembolso" matInput placeholder="Prazo Final Reembolso" type="text"
              name="prazoFinalReembolso" (click)="picker3.open()" [min]="prazoFinalReembolsoMinimo"
              formControlName="prazoFinalReembolso" [matDatepicker]="picker3" readonly required>
            <button class="botaoLimpar" matTooltip="Limpar" matTooltipClass="tooltip" mat-button
              *ngIf="formGroup.get('prazoFinalReembolso').value" matSuffix mat-icon-button [disabled]="!solicitouEdicao"
              aria-label="Clear" (click)="limparPrazoFinalReembolso($event)">
              <mat-icon>clear</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
            <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>-->

        <mat-form-field class="form">
            <mat-label>Telefone</mat-label>
            <input matInput [(ngModel)]="orfanato.telefone" type="text"
                name="telefone" placeholder="Telefone" maxlength="12" mask="(00)00000000" disabled>
        </mat-form-field>

        <mat-form-field class="form">
            <input matInput id="dataFundacao" matInput placeholder="Data da Fundação" type="text"
                name="dataFundacao" (click)="picker3.open()"
                [(ngModel)]="orfanato.dataFundacao" [matDatepicker]="picker3" readonly disabled>
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>



        <div class="buttons">
            <div class="buttons">
                <button (click)="excluirOrfanato()" class="mat-elevation-z8" mat-stroked-button color="primary">Excluir</button>
                <button (click)="cancelar()" class="mat-elevation-z8" mat-stroked-button color="warn">Voltar</button>
            </div>
        </div>
    </form>
</div>

